@import "tailwindcss";
@import "tw-animate-css";

:root {
  /* Foundation*/
  --color-white-500:#FFFFFF;

  /* Gray scale */
  --color-gray-100: #A8A8A8;
  --color-gray-150: #6C6C6C;
  --color-gray-200: #656565;
  --color-gray-300: #474747;
  --color-gray-500: #212121;
  --color-gray-400: #333333;
  --color-gray-600: #191919;
  --color-gray-700: #141414;
  --color-gray-800: #0C0C0C;
}

@theme {
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
  --font-tertiary: var(--font-tertiary);

  /* Border */
  --color-border: var(--color-gray-500);
  --color-border-active: var(--color-white-500);

  /* Primary */
  --primary-100: var(--color-gray-100);
  --primary-150: var(--color-gray-150);
  --primary-200: var(--color-gray-200);
  --primary-300: var(--color-gray-300);
  --primary-500: var(--color-gray-500);
  --primary-400: var(--color-gray-400);
  --primary-600: var(--color-gray-600);
  --primary-700: var(--color-gray-700);
  --primary-800: var(--color-gray-800);

  /* Suface */
  --color-surface-default: var(--color-gray-800);
  --color-surface-active: var(--color-white-500);
  --color-surface-subtle-hover: var(--color-gray-600);
  --color-surface-subtle-active: var(--color-gray-600);

  /* Text */
  --color-text-body: var(--primary-150);
  --color-text-headline: var(--color-white-500);
  --color-text-on-action: var(--color-gray-700);

  /* spacing */
  --spacing-inner-md: 20px;
  --spacing-inner-lg: 32px;
  --spacing-inner-xl: 40px;
}

body {
  background: var(--color-surface-default);
  font-family: var(--font-primary);
  overflow-y: hidden;
}

